<div>
  <app-menu></app-menu>
</div>
<div class="flex flex-wrap">
  <div class="w-full px-4">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
      <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Xin nghỉ phép</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="wrapper">

                <form action="">
                  <div class="row no-gutters">
                    <div class="col-md-7">
                      <div class="contact-wrap w-100 p-md-5 p-4">
                        <h3 class="mb-4">Điền thông tin cần thiết</h3>
                        <div id="form-message-warning" class="mb-4"></div>
                        <!-- <div id="form-message-success" class="mb-4">
                          Your message was sent, thank you!
                        </div> -->
                        <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="label" for="name">Full Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="label" for="email">Email Address</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="label" for="subject">Theo chế độ</label>
                                <input type="text" class="form-control" name="subject" id="subject">
                              </div>
                            </div>

                            <!-- select -->

                            <!-- select -->

                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="label" for="subject">Từ ngày</label>
                                <input type="date" class="form-control" name="subject" id="subject"
                                  placeholder="Subject">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="label" for="subject">Đến ngày</label>
                                <input type="date" class="form-control" name="subject" id="subject"
                                  placeholder="Subject">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label class="label" for="#">Lý do nghỉ phép</label>
                                <textarea name="message" class="form-control" id="message" cols="30" rows="4"
                                  placeholder="Message"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <input type="submit" value="Gửi đến quản lý" class="btn btn-primary">
                                <div class="submitting"></div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-md-5 d-flex align-items-stretch">
                      <div class="info-wrap w-100 p-5 img" style="background-image: url(assets/img/company.jpg);">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
